*{
    
    background-color: rgb(255, 0, 140);
    color: black;
}

.kuchbhi{
    background-color: cornsilk;
    color: darkslategrey;
}
#submitButton{
   background-color: blue;
  color: burlywood;

    
}
h1
{
    background-color: deepskyblue;
    color: cornsilk;
}

